<div class="container-fluid">
	<div class="container-fluid text-center h2 mt-5">
		Данный тест имеет 14 возможных результатов:
	</div>
	<div class="container-fluid row mx-lg-5 mx-md-3 mx-2 mt-3 px-lg-5">
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/cs">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/cs.png" />
				<div class="col-6 text-center display-6 my-auto">C#</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/cpp">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/cpp.png" />
				<div class="col-6 text-center display-6 my-auto">C++</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/c">
				<img style="object-fit: contain" class="col-5" src="~/img/lang/c.png" />
				<div class="col-6 offset-1 text-center display-6 my-auto">C</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/vb">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/vb.png" />
				<div class="col-6 text-center display-6 my-auto">Visual Basic</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/java">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/java.png" />
				<div class="col-6 text-center display-6 my-auto">Java</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/kotlin">
				<img style="object-fit: contain" class="col-6 col-lg-5 col-md-5 col-sm-4" src="~/img/lang/kotlin.svg" />
				<div class="col-6 text-center display-6 offset-lg-1 offset-md-1 offset-sm-2 my-auto">Kotlin</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-5 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/js">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/js.png" />
				<div class="col-6 text-center display-6 my-auto">JavaScript</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-5 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/ts">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/ts.png" />
				<div class="col-6 text-center display-6 my-auto">TypeScript</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/python">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/python.png" />
				<div class="col-6 text-center display-6 my-auto">Python</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/ruby">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/ruby.png" />
				<div class="col-6 text-center display-6 my-auto">Ruby</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/php">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/php.png" />
				<div class="col-6 text-center display-6 my-auto">Php</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/swift">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/swift.png" />
				<div class="col-6 text-center display-6 my-auto">Swift</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-3 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/go">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/go.png" />
				<div class="col-6 text-center display-6 my-auto">Go</div>
			</a>
		</div>
		<div class="language_form col col-lg-3 col-md-5 col-sm-5 row bg-primary mx-1 my-1 pe-5">
			<a class="language_form_a d-flex text-decoration-none" href="~/lang/asm">
				<img style="object-fit: contain" class="col-6" src="~/img/lang/asm.png" />
				<div class="col-6 text-center display-6 my-auto">Assembler</div>
			</a>
		</div>
	</div>
</div>